<%- include("header") %>
<%- include("navbar") %>
<div role="main" class="container">
<!--Container for form-->
<h2>Employee Details</h2>
      <br />
      <div>
        <div class="form-group">
          <label for="txtFirstName">First Name:</label>
          <input
            type="text"
            class="form-control"
            id="txtFirstName"
            readonly
            value="<%= employee[0].firstName %>"
            name="txtName"
          />
        </div>

        <label for="txtFirstName">Last Name:</label>
          <input
            type="hidden"
            class="form-control"
            id="data"
            readonly
            value="<%= employee %>"
            name="txtName"
          />
          <h2>
              <ul>
               
            </ul>

<script>
var object = document.getElementById('data').value;
console.log(object);

//var obj = JSON.parse(object);

//for (const property in parsedOb) {
  //console.log(`${property}: ${parsedOb[property]}`);
//}


var txt = '{firstName: ‘Emiliano’, lastName: ‘Sanchez’ title: ‘Welder’,salary: ‘234554’,years: ‘4’,productImage: ‘public/2.jpeg’,__v: 0 }'
var obj = JSON.parse(txt);
console.log(obj);
</script>

          </h2>
        </div>
      </div>

      <br /><br />

      <a href="/">&larr; OK</a>
    </div>
</div>
<%- include("footer") %>
<%- include("scripts") %>
